*, *:before {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.4;
  background-color: #618861;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  display: flex;
}

.sidebar {
  flex-direction: column;
  padding: 10px 0px;
  position: fixed;
  height: 100%;
  display: flex;
  width: 150px;
  border-right: 1px solid black;
}

.sidebar__item {
  width: 100%;
  padding: 15px 20px;
  font-size: 12px;
  color:  #ABCCAD;
  font-weight: bold;
}

.help-text {
  font-weight: normal;
  margin-top: 80px;
  text-align: center;
  color: #507550;
}

.sidebar__item.selected {
  background-color: #8CBB8C !important;
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.20);
}

.sidebar__item:hover {
  background-color: #76A276;
  color: #C0E6C2;
}

#content {
  padding: 40px;
  width: 80%;
  left: 150px;
  min-width: 500px;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}
p a {
  text-decoration: underline;
  color: #ABCCAD;
  font-weight: bold;
}

.list-item {
  background-color: #76A276;
  color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,.25);
  padding: 25px;
  margin: 20px 0px;
}

.list-item:hover {
  background-color: #8CBB8C;
  cursor: pointer;
}

.clipped {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.list-item__header {
  display: flex;
  justify-content: space-between;
}

.list-item__header img {
  max-width: 25px;
  vertical-align: middle;
}

.list-item__header-text {
  width: 75%;
}

.list-item__header-info {
  font-size: 12px;
  color: #C2ECC5;
}

.list-item__body {
  margin-top: 10px;
  font-size: 14px;
  color: #ddd;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}

.list-item__info {
  min-width: 60%;
  max-width: 75%;
}

.list-item__controls {
  margin-top: 15px;
  max-width: 200px;
  min-width: 100px;
}

.list-item__controls button:hover {
  background-color: #8CBB8C;
}

.form-inline {
  display: inline-flex;
  width: 100%;
}

.form-inline .button {
  width: 20%;
}

.form-inline input[type="text"] {
  margin-right: 20px;
}

::-webkit-input-placeholder {
  color: #ABCCAD;
}

input[type="text"] {
  margin-bottom: 15px;
  width: 100%;
  height: 35px;
  padding: 0px 0px 0px 10px;
  border: 0px;
  background-color: #507550;
  color: #eee;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  font-size: 16px;
}

input[type="text"]:focus {
  outline: white auto;
  outline-offset: -2px;
}

.button img, .button svg {
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
}

svg {
  fill: #507550;
}

.button:hover {
  color: white !important;
  cursor: pointer;
}

.button:focus, .button:active {
  border: 0px;
  outline: 0px;
}

.button {
  color: #C0E6C2;
  background-color: #76A276;
  border: 0px;
  vertical-align: middle;
  font-size: 13px;
  padding: 0px 10px;
  height: 35px;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.bookend {
  position: fixed;
  width: 100%;
  padding: 10px;
}

.footer {
  border-top: 1px solid #999;
  bottom: 0px;
}

.header {
  top: 0px;
  border-bottom: 1px solid #999;
}

.modal {
  z-index: 9999999;
  background-color: #618861;
  padding: 40px;
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
}

.modal__controls {
  margin-top: 20px;
  text-align: right;
}

.modal-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  z-index: 100000;
  opacity: .75;
}

.hidden {
  display: none;
}

.muted {
  font-size: 12px;
  color: #C0E6C2;
}

/** banners **/
.banner {
  position: fixed;
  top: -30px;
  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  width: 100%;
  height: 30px;
  z-index: 999999;
  text-align: center;
  left: 0;
  vertical-align: middle;
  padding: 5px;
  color: white;
}

.banner.success {
  top: 0px;
  background-color: #76A276;
}
.banner.error {
  top: 0px;
  background-color: red;
}
.banner.warning {
  top: 0px;
  background-color: yellow;
  color: black;
}
