*, *:before {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.4; 
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  font-size: 1.4em;
  font-weight: 300;
  color: #222;
  margin-bottom: 10px;
}

.muted {
  color: #888;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 20px;
  margin-top: 20px;
}

.list {
  border-bottom: 1px solid #ccc;
}

.footer {
  border-top: 1px solid #999;
  bottom: 0px;
}

.bookend {
  position: fixed;
  width: 100%;
  padding: 10px;
}

.header {
  top: 0px;
  border-bottom: 1px solid #999;
}
