<h2>Downloads</h2>

{{#if downloaders}}
<div class="list">
{{#each downloaders:i}}
  <div class="list-item">
    <div class="list-item__header">
      <div class="clipped list-item__header-text">{{this.resource.name}}</div>
      <div class="list-item__header-info">{{prettyBytes(this.resource.size)}} </div>
    </div>
    <div class="list-item__body">
      <div class="list-item__progress clipped">
        {{#if this.finished}}
        All Done!
        {{else}}
        {{#if this.progress}} {{this.progress}} / {{/if}} {{prettyBytes(this.resource.size)}}
        {{/if}}
        <pre class="output">
          {{this.output}}
        </pre>
      </div>
    </div>
  </div>
{{/each}}
</div>
{{else}}
<h3 class="help-text">Nothing is being downloaded</h3>
{{/if}}
