<div class="form">
  <input type="text" placeholder="add new portal URL" value="{{url}}"/>
  <div class="add form-inline">
    <input type="text" placeholder="socrata, ckan..." value="{{type}}"/>
    <button class="button" on-click="addPortal">add</button>
  </div>
</div>
<div class="list">
  <h2>Searchable Portals</h2>
  {{#each core_portals}}
  <div class="list-item" on-click="openUrl:{{this.url}}">
    <div class="list-item__header">
      <div class="clipped list-item__header-text"><img src="{{this.icon}}" /> figshare </div>
      <div class="list-item__header-info">{{this.url}}</div>
    </div>
    <div class="list-item__body">
        {{this.description}}
    </div>
  </div>
  {{/each}}
</div>
