<h2>Portals</h2>
<div class="form">
  <input type="text" placeholder="type portal url (e.g., http://data.beta.nyc/)"  value="{{url}}"/>
  <div class="add form-inline">
    <input type="text" placeholder="add portal type (e.g., ckan)" value="{{type}}"/>
    <button class="button" on-click="addPortal">add</button>
  </div>
</div>
<div class="list">
  <!--<input type="text" placeholder="enter filter text.." value="{{searchTerm}}"/>-->
  {{#each core_portals}}
    <div class="list-item" on-click="openUrl:{{this.url}}">
      <div class="list-item__header">
        <div class="clipped list-item__header-text"><img src="{{this.icon}}" /> {{this.name}}</div>
        <div class="list-item__header-info">{{this.url}}</div>
      </div>
      <div class="list-item__body">
        <div class="list-item__info">
          {{this.description}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
