<div class="form">
  <input type="text" placeholder="add new portal URL" value="{{url}}"/>
  <div class="add form-inline">
    <input type="text" placeholder="socrata, ckan..." value="{{type}}"/>
    <button class="button" on-click="addPortal">add</button>
  </div>
</div>
<div class="list">
  <h2>Core Portals</h2>
  <input type="text" placeholder="filter portals" value="{{searchTerm}}"/>
  {{#each core_portals}}
    {{# filter(this, searchTerm, ['name', 'description']) }}
    <div class="list-item" on-click="openUrl:{{this.url}}">
      <div class="list-item__header">
        <div class="clipped list-item__header-text"><img src="{{this.icon}}" /> {{this.name}}</div>
        <div class="list-item__header-info">{{this.url}}</div>
      </div>
      <div class="list-item__body">
        <div class="list-item__info">
          {{this.description}}
        </div>
        <div class="list-item__controls">
          <button class="button" on-click="disable:{{this.name}}">{{{images.refresh}}} disable</button>
        </div>
      </div>
    </div>
    {{/}}
  {{/each}}
</div>
