<h2>Downloads</h2>

<div class="add form-inline">
  <input type="text" placeholder="url to a data source" value="{{location}}"/>
  <button class="button" on-click="add">download</button>
</div>

<div class="list">
{{#each sources}}
  <div class="list-item" on-click="open:{{this.location}}">
    <div class="list-item__header">
      <div>{{this.location}}</div>
      <div class="list-item__header-info">{{prettyBytes(this.meta.size)}} {{relativeDate(this.meta.checked)}}</div>
    </div>
    <div class="list-item__body">
      <div class="list-item__info">
        {{this.path}}
      </div>
      <div class="list-item__controls">
        <button class="button" on-click="doUpdate:{{this.location}}"><img src="./img/refresh.png" />update</button>
        <button class="button" on-click="remove:{{this.location}}"><img src="./img/delete.png" />remove</button>
      </div>
    </div>
  </div>
{{/each}}
</div>
{{#if sources }}
<button class="button" on-click="refresh">update all</button>
{{else}}
<h3 class="help-text">Start by adding a data source.</h3>
{{/if}}

<div class="modal hidden">
  <h2>Are you sure you want to do that?</h2>
  <div class="modal__controls">
    <button type="submit" class="button">Yes, please.</button>
    <button type="cancel" on-click="toggleModal" class="button">Nevermind.</button>
  </div>
</div>
